[Desktop Entry]
Name=Video Downloader
GenericName=Video Downloader
Comment=A simple YouTube and Grooveshark downloader.
Exec=videodownloader
Icon=videodownloader
Terminal=false
Type=Application
Categories=Utility;Network;
